{% load static %}
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>About Us</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{% static 'assets/images/favicon.png'%}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <style>body {
      background-color: #1a1a1a;
      color: #ffffff;
      font-family: "Roboto Mono", monospace;
  }
  #brand-name-grad{
    color: #ff7722;
    background-image: -webkit-linear-gradient(0deg, #ff7722 20%, #ffffff 50%, #59ae35 83%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    }
    #brand-name{
      position: absolute;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  h1{
    color: #ff0000;
    text-shadow: 0 0 4px #ff0000;
    font-family: "Glitch", sans-serif;
  }
  p {
  font-family: "Glitch", sans-serif;
      }
  button:hover{
    box-shadow: 0 0 10px rgba(#00ff00, 0.2);
      animation: neon-pulse 0.5s ease-in-out infinite;
  }
  .rd-navbar-top-panel, .rd-navbar-top-panel-inner, .rd-navbar-inner, .rd-navbar-aside-right, .rd-navbar, .rd-navbar-original, .rd-navbar-fullwidth {
    background-color: #000;
  }
  .rd-navbar-brand.fullwidth-brand a {
      color: #00ffcc;
  }
  .swiper-slide {
      background-color: #000000;
      color: #00ffcc;
  }
  .hotel-booking-form {
      background-color: #2b2b2b;
      color: #ffffff;
  }
  .form-input,
  .form-label {
      color: #ffffff;
  }
  .button.button-primary {
      background-color: #00ffcc;
      color: #000000;
  }
  .section {
      background-color: #1a1a1a;
      color: #ffffff;
  }
  .page-footer-minimal,.page-footer-minimal-inner,.shell-wide {
      background-color: #000;
      color: #ffffff;
  }
  a {
      color: #00ffcc;
  }
  a:hover {
      color: #ffcc00;
  }
  .icon {
      color: #00ffcc;
  }
  @keyframes glitch-text {
    0% {
      text-shadow: 0px 0px 2px #ff0000;
    }
    25% {
      text-shadow: 2px 0px 2px #ff0000;
    }
    50% {
      text-shadow: 0px 2px 2px #ff0000;
    }
    75% {
      text-shadow: -2px 0px 2px #ff0000;
    }
    100% {
      text-shadow: 0px -2px 2px #ff0000;
    }
  }
</style>
  </head>
  <body>
      <header class="page-header" style="padding-bottom: 24px">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default-with-top-panel" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-lg-device-layout="rd-navbar-fullwidth" data-md-stick-up-offset="90px" data-lg-stick-up-offset="150px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div style="background-color: #000;" class="rd-navbar-top-panel rd-navbar-collapse">
              <div class="rd-navbar-top-panel-inner">
                <div class="left-side">
                  <div style="color: #ff0000;" class="group"><span class="text-italic">Follow Us:</span>
                    <ul class="list-inline">
                      <li><a class="icon icon-sm icon-secondary-5 fa fa-instagram" href="https://www.instagram.com/"></a></li>
                      <li><a class="icon icon-sm icon-secondary-5 fa fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-sm icon-secondary-5 fa fa-youtube" href="https://www.youtube.com/"></a></li>
                    </ul>
                  </div>
                </div>
                <div>
                  <!-- RD Navbar Brand-->
                  <div id="brand-name" class="rd-navbar-brand fullwidth-brand"><a class="brand-name" href="index"><h3 id="brand-name-grad">BRAND NAME</h3></a></div>
                </div>
                <div class="right-side">
                  <!-- Contact Info-->
                  <div class="contact-info">
                    <div class="unit unit-middle unit-horizontal unit-spacing-xs">
                      <div class="unit__left"><span class="icon icon-primary text-middle mdi mdi-phone"></span></div>
                      <div class="unit__body"><a style="color:white;" class="text-middle" href="tel:#">+1 (409) 987–5874</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div style="background-color: #000;" class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar collapse toggle-->
                <button style="color: #c0c0c0" class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand mobile-brand"><a class="brand-name" href="index"><h3 id="brand-name-grad">BRAND NAME</h3></a></div>
              </div>
              <div style="background-color: #000;" class="rd-navbar-aside-right">
                <div style="background-color: #000;" class="rd-navbar-nav-wrap">
                  <div class="rd-navbar-nav-scroll-holder">
                    <ul class="rd-navbar-nav">
                      <li><a style="color:white;" href="/">Home</a>
                      </li>
                      <li class="active"><a href="about-us">About Us</a>
                      </li>
                      <li><a style="color:white;" href="contacts">Contacts</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Breadcrumbs & Page title-->
      <section style="background-color: #000" class="section-md text-center bg-image breadcrumbs-01">
        <div class="shell shell-fluid">
          <div class="range range-xs-center">
            <div class="cell-xs-12 cell-xl-11">
              <h2 style="color: #ffffff">About Us</h2>
              <ul class="breadcrumbs-custom">
                <li><a href="/">Home</a></li>
                <li class="active">About Us</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section style="background-color: #000;" class="section section-md bg-secondary-4 text-center text-sm-left">
        <div class="shell">
          <div class="range range-50 range-md-justify range-sm-middle">
            <div class="cell-sm-6 wow fadeInUp" data-wow-delay=".1s">
              <div class="box-outline box-outline__mod-1">
                <figure><img src="{% static 'assets/images/about-01-546x516.jpg'%}" alt="" width="546" height="516"/>
                </figure>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-5 wow fadeInUp" data-wow-delay=".2s">
              <h3 style="color: #ff0000;
              text-shadow: 0 0 2px #ff0000;
              animation: glitch-text 1s ease-in-out infinite;
              font-family: "Glitch", jokerman;">A Few Words About Us</h3>
              <p>Lorem ipsum dolor sit amet. 33 esse ducimus in ratione similique hic placeat minus non eligendi itaque. Qui reprehenderit facere ea voluptas nostrum ut quos pariatur ut ipsum odio et repudiandae quia non omnis beatae est maxime consequatur. Eum fuga blanditiis ut tenetur consequatur ut quam expedita ea voluptatum iste in molestias dolore ad enim iure id aliquam voluptatem.</p>
              <p>Aut iusto voluptas id error vitae et consequatur nulla. Aut provident vero non ducimus nihil non perspiciatis facere ex eveniet dolor et placeat facere vel incidunt possimus sed praesentium reprehenderit. Eos reiciendis ullam ut quidem ipsa eos accusantium consequatur?</p>
            </div>
          </div>
        </div>
      </section>
      <section style="background-color: #000;" class="section section-md bg-white">
        <div class="shell">
          <h3 style="color: #ff0000;
          text-shadow: 0 0 2px #ff0000;
          animation: glitch-text 1s ease-in-out infinite;
          font-family: "Glitch", jokerman;">Our Team</h3>
          <div class="range range-xs-center range-75">
            <!--team member 1-->
            <div class="cell-sm-6 cell-md-4 wow fadeInUp" data-wow-delay=".1s">
              <div class="team-box box-outline">
                <div class="team-image-box"><img src="{% static 'assets/images/team-01-295x282.jpg'%}" alt="" width="295" height="282"/>
                  <div class="team-image-caption">
                    <ul class="list-inline">
                      <li><a class="icon-sm icon-white fa-instagram icon" href="#"></a></li>
                      <li><a class="icon-sm icon-white fa-facebook icon" href="#"></a></li>
                      <li><a class="icon-sm icon-white fa-twitter icon" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div  class="team-caption"><a style="color: #ff0000;text-shadow: 0 0 2px #ff0000;font-family: "Glitch", jokerman;" class="link team-title" href="#">Theresa</a><span style="color: #ffffff">General Manager</span></div>
              </div>
            </div>
            <!--team member 2-->
            <div class="cell-sm-6 cell-md-4 wow fadeInUp" data-wow-delay=".2s">
              <div class="team-box box-outline">
                <div class="team-image-box"><img src="{% static 'assets/images/team-02-295x282.jpg'%}" alt="" width="295" height="282"/>
                  <div class="team-image-caption">
                    <ul class="list-inline">
                      <li><a class="icon-sm icon-white fa-instagram icon" href="#"></a></li>
                      <li><a class="icon-sm icon-white fa-facebook icon" href="#"></a></li>
                      <li><a class="icon-sm icon-white fa-twitter icon" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-caption"><a style="color: #ff0000;text-shadow: 0 0 2px #ff0000;font-family: "Glitch", jokerman;" class="link team-title" href="#">Albert Mills</a><span style="color: #ffffff">Cosmetologist</span></div>
              </div>
            </div>
            <!--team member 3-->
            <div class="cell-sm-6 cell-md-4 wow fadeInUp" data-wow-delay=".3s">
              <div class="team-box box-outline">
                <div class="team-image-box"><img src="{% static 'assets/images/team-03-295x282.jpg'%}" alt="" width="295" height="282"/>
                  <div class="team-image-caption">
                    <ul class="list-inline">
                      <li><a class="icon-sm icon-white fa-instagram icon" href="#"></a></li>
                      <li><a class="icon-sm icon-white fa-facebook icon" href="#"></a></li>
                      <li><a class="icon-sm icon-white fa-twitter icon" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-caption"><a style="color: #ff0000;text-shadow: 0 0 2px #ff0000;font-family: "Glitch", jokerman;" class="link team-title" href="#">Sandra Adams</a><span style="color: #ffffff">Receptionist</span></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer class="page-footer text-left text-sm-left">
        <div class="shell-wide">
          <div class="page-footer-minimal">
            <div class="shell-wide">
              <div class="range range-50">
                <div class="cell-sm-6 cell-md-3 cell-lg-4 wow fadeInUp" data-wow-delay=".1s">
                  <div class="page-footer-minimal-inner">
                    <h4 style="color: #ff0000;
                    text-shadow: 0 0 2px #ff0000;
                    animation: glitch-text 1s ease-in-out infinite;
                    font-family: "Glitch", jokerman;">Opening Hours</h4>
                    <ul class="list-unstyled">
                      <li>
                        <div class="group-xs"> 
                          <div>
                            <dl class="list-desc">
                              <dt style="color: #ff0000;">Weekdays: </dt>
                              <dd class="text-gray-darker"><span>8:00–20:00</span></dd>
                            </dl>
                          </div>
                          <div>
                            <dl class="list-desc">
                              <dt style="color: #ff0000;">Weekends: </dt>
                              <dd class="text-gray-darker"><span>9:00–18:00</span></dd>
                            </dl>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="cell-sm-6 cell-md-5 cell-lg-4 wow fadeInUp" data-wow-delay=".2s">
                  <div class="page-footer-minimal-inner">
                    <h4 style="color: #ff0000;
                    text-shadow: 0 0 2px #ff0000;
                    animation: glitch-text 1s ease-in-out infinite;
                    font-family: "Glitch", jokerman;">Contact</h4>
                    <ul class="list-unstyled">
                      <li>
                        <dl class="list-desc">
                          <dt><span class="icon icon-sm mdi mdi-map-marker"></span></dt>
                          <dd style="color: #ff0000;">Address: <a style="color:white;" class="link link-gray-darker" href="">No:80, XXX Garden, XXX, XXX, XXX, XXX, XXX, XXX 6000XX</a></dd>
                        </dl>
                      </li>
                      <li>
                        <dl class="list-desc">
                          <dt><span class="icon icon-sm mdi mdi-phone"></span></dt>
                          <dd style="color: #ff0000;">Call Us: <a style="color:white;" class="link link-gray-darker" href="tel:#">+1 (409) 987–5874</a>
                          </dd>
                        </dl>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript-->
    <script src="{% static 'assets/js/core.min.js'%}"></script>
    <script src="{% static 'assets/js/script.js'%}"></script>
  </body>
</html>