{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking Confirmation</title>
    <link rel="icon" href="{%static 'assets/images/favicon.png'%}" type="image/x-icon">
</head>
<body>

  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>

    <h2>Booking Confirmed!</h2>
    <p>Thank you for booking.</p>
    <p>Your booking details are as follows:</p>
    <strong>Name:</strong> {{ booking.name }}<br>
    <strong>Date:</strong> {{ booking.date }}<br>
    <strong>Session:</strong> {{ booking.session }}<br>
    <strong>Mobile Number:</strong> {{ booking.mobile_number }}

    <script>
        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
        });
    </script>
</body>
</html>